<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <location path="." inheritInChildApplications="false">
      <system.webServer>
         <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" />
         <handlers>
            <add name="iisnode" path="main.js" verb="*" modules="iisnode" />
         </handlers>
         <rewrite>
            <rules>
               <clear />
               <rule name="StaticContent" stopProcessing="true">
                  <match url="main.js" />
                  <action type="None" />
               </rule>
               <rule name="i18n" enabled="true" stopProcessing="true">
                  <match url="(.*).json" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.json.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="css" enabled="true" stopProcessing="true">
                  <match url="(.*).css" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.css.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="zipjs" enabled="true" stopProcessing="true">
                  <match url="(.*).js" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.js.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="jpeg" enabled="true" stopProcessing="true">
                  <match url="(.*).jpeg" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.jpeg.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="png" enabled="true" stopProcessing="true">
                  <match url="(.*).png" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.png.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="webp" enabled="true" stopProcessing="true">
                  <match url="(.*).webp" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.webp.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="ttf" enabled="true" stopProcessing="true">
                  <match url="(.*).ttf" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.ttf.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="svg" enabled="true" stopProcessing="true">
                  <match url="(.*).svg" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.svg.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="eot" enabled="true" stopProcessing="true">
                  <match url="(.*).eot" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.eot.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="woff2" enabled="true" stopProcessing="true">
                  <match url="(.*).woff2" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.woff2.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="woff" enabled="true" stopProcessing="true">
                  <match url="(.*).woff" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.woff.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="otf" enabled="true" stopProcessing="true">
                  <match url="(.*).otf" />
                  <conditions></conditions>
                  <action type="Rewrite" url="/dist/SSRCict/browser/{R:1}.otf.gz" appendQueryString="true" logRewrittenUrl="true" />
               </rule>
               <rule name="DynamicContent">
                  <match url="/*" />
                  <conditions>
                     <add input="{REQUEST_URI}" negate="true" pattern="^/Client/(.+)$" ignoreCase="true" />
                  </conditions>
                  <action type="Rewrite" url="main.js" />
               </rule>
            </rules>
            <outboundRules>
               <rule name="Rewrite content-encoding header" preCondition="IsGZ" stopProcessing="false">
                  <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern=".*" />
                  <action type="Rewrite" value="gzip" />
               </rule>
               <preConditions>
                  <preCondition name="IsGZ">
                     <add input="{URL}" pattern="\.gz$" />
                  </preCondition>
               </preConditions>
            </outboundRules>
         </rewrite>
         <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
            <remove fileExtension=".svg" />
            <remove fileExtension=".eot" />
            <remove fileExtension=".ttf" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-woff" />
            <mimeMap fileExtension=".otf" mimeType="application/otf" />
            <remove fileExtension=".gz" />
            <mimeMap fileExtension="js.gz" mimeType="application/javascript" />
            <mimeMap fileExtension="json.gz" mimeType="application/json" />
            <mimeMap fileExtension="jpeg.gz" mimeType="image/jpeg" />
            <mimeMap fileExtension="png.gz" mimeType="image/png" />
            <mimeMap fileExtension="ico.gz" mimeType="image/x-icon" />
            <mimeMap fileExtension="css.gz" mimeType="text/css" />
            <mimeMap fileExtension="webp.gz" mimeType="image/webp" />
            <mimeMap fileExtension=".ttf.gz" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".svg.gz" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".eot.gz" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".woff.gz" mimeType="application/x-woff" />
            <mimeMap fileExtension=".woff2.gz" mimeType="application/x-woff" />
            <mimeMap fileExtension=".otf.gz" mimeType="application/otf" />
         </staticContent>
         <urlCompression doStaticCompression="false" doDynamicCompression="false" />
      </system.webServer>
   </location>
</configuration>
